@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: white;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.album {
  padding: 1em;
  width: 650px;
  min-height: 650;
  // background: rgb(37, 36, 41);
  background: linear-gradient(
    90deg,
    rgba(46, 46, 46, 1) 0%,
    rgba(21, 21, 21, 1) 100%
  );
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  // one
  &__title {
    margin-bottom: 1em;
  }
  // two
  &__info {
    display: flex;
    justify-content: space-between;
    border: 1px dashed rgb(201, 201, 201);
    border-right: none;
    border-left: none;
    position: relative;
  }
  // trhee
  footer {
  }
  &__description {
    width: 100%;
    padding: 1em 0;
  }

  &__only-text {
    width: 60%;
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
  &__released {
    padding: 0 2em;
    font-size: 0.8em;
  }
  &__text {
    margin-top: 1em;
    font-size: 0.8em;
  }
}

a {
  margin-top: 1em;
  text-decoration: none;
  color: white;
  width: 180px;
  background: rgb(230, 46, 46);
  padding: 0.7em 1.4em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  img {
    text-align: center;
    margin-right: 0.5em;
    width: 2.5em;
  }
}

a:hover {
  background: orange;
}
button:active {
  background-color: rgb(0, 179, 255);
}
